
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Daftar CCTV</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='cctv.png') }}">
    
    <link rel="stylesheet" crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
	<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-cruduser-list.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


</head>

<body>
    <header>
        <div class="topnav">
            <input id="myInput" class="lokasit" onkeyup="search_lokasi()" type="text" name="search" placeholder="cari lokasi">
            <div class="topnav-left">
                <a>CCTV List</a>
                <a class="btn btn-secondary" href="/dashboardadm">Back to Dashboard</a>
                <a class="btn btn-primary" href="/dashboardadm/list_cctv/add_cctv">Add New CCTV</a>
            </div>
            <!-- <form class="file" action="ewf">
                <label for="myfile"></label>
                <input type="file" id="myfile" name="myfile" multiple><input type="submit">
            </form> -->
        </div>
    </header>

    <main>
        <div class="main">
            <!-- <form class="tambah" action="ewf">
                <button class="btnn"><i class="bi bi-download"></i> Download format csv</button><br>
                <label for="myfile">Masukkan file csv:</label><br>
                <input type="file" id="myfile" name="myfile" multiple><input type="submit">
            </form> -->
            <table class="table" id="myTable">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Link</th>
                    <th scope="col">Lokasi</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in cctv %}
                        <tr>
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[3]}}</td>
                            <td><a class="button" href='/dashboardadm/list_cctv/update_cctv/{{row[2]}}'><i class="bi bi-pencil-fill"></i> Edit</a></td>
                            <td><a class="buttond" href='/dashboardadm/list_cctv/delete_cctv/{{row[2]}}' onclick="return confirm('Are you sure you want to delete?');"><i class="bi bi-trash-fill"></i> Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <script>
        function search_lokasi() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
        
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
        </script>
</body>