<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Expires" content="0">
		<meta charset="utf-8">
		<title>CM Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style-login.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='cctv.png') }}">
	</head>
	<body>
		<div class="login">
			<h1>Login</h1>
			<img src="{{ url_for('static', filename='logo-pertamina.jpg') }}" class="logo">
			<div class="links">
				<a href="{{ url_for('auth.login') }}" class="active">Login</a>
				<a href="#" onClick="alert('Silahkan Hubungi Administrator Jaringan Anda');">Register</a>
			</div>
			<form action="{{ url_for('auth.login') }}" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<div class="msg">{{msg}}</div>
				<input type="submit" value="Login">
				<!-- <a href="/ambatukam">Bypass</a> -->
			</form>
		</div>
	</body>
	<footer>
		<div class="closing">&copy; KP SK UNSRI 2022</div>
	</footer>
</html>