<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Edit CCTV</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='cctv.png') }}">
    
    <link rel="stylesheet" crossorigin="anonymous"href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
	<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-cruduser-edit.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='cctv.png') }}">

</head>
<body>
    <header>
        <div class="topnav">
            <div class="topnav-left">
                <a>Update CCTV</a>
                <a class="btn btn-secondary" href="/dashboardadm/list_cctv">Back to list CCTV</a>
            </div>
        </div>
    </header>

    <main>
        <div class="main">
            <form action="/dashboardadm/list_cctv/update_cctv/{{row[3]}}" method=post>
                <div class="mb-13 mt-3">
                <label for="nama" class="form-label">Nama CCTV:</label>
                <input type="input" class="form-control" placeholder="Nama" name="nama_cctv" value="{{ row[0] }}" required>
                </div>
                <div class="mb-3">
                <label for="univ" class="form-label">Link CCTV:</label>
                <input type="input" class="form-control" placeholder="rtsp://user:12345@1.2.3.4:554" name="link_cctv" value="{{ row[1] }}" required>
                <label for="univ" class="form-label">Lokasi CCTV:</label>
                <input type="input" class="form-control" placeholder="ICT" name="lokasi_cctv" value="{{ row[2] }}" required>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </main>

</body>