*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
  }
  /* navbar */
  .topnav {
  background-color: #333;
  overflow: hidden;
  /* background-image: url('mong.jpg'); */
  /* background-repeat: no-repeat; */
  margin: 0px;
  position: fixed;
  color: #f2f2f2;
  top: 0;
  width: 100%;
  
  }
  .topnav a {
  float: left;
  /* color: #f2f2f2; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 3px;
  }
  
  /* .topnav a:hover {
  background-color: #ddd;
  color: black;
  } */
  
  .topnav a.aktif {
  background-color: #ff0000;
  color: white;
  }

  .topnav a.aktif:hover{
    background-color: #823030;
  }
  
  .topnav-left {
  float: left;
  }

  .btn-primary{
    margin-left: 21px;
  }

  .lokasit{
    float: right;
    /* text-align: center; */
    padding: 4px 6px;
    text-decoration: none;
    font-size: 17px;
    margin: 3px;
    margin-right: 40px;
    margin-top: 12px;
    border-radius: 10px;
    border: none;
    display: list-item;

  }
  

  /* main */

  .main{
    margin-top: 65px;
    /* margin-left: 9px; */
  }


/*  */
  .table{
    margin: auto;
    width: 98%;
  }
  

  /* edit dan del */
  .button {
    width: 100%;
    /* margin-top: 8px; */
    background-color: rgb(0, 176, 162); 
    color: white;
    padding: 4px;
    cursor: pointer;
    float: left;
    text-align: center;
    text-decoration: none;
    border-radius: 85px;
  }
  
  .button:hover:not(.active) {
    background-color: rgb(31, 141, 131);
    color: rgb(255, 255, 255);
  }

  .buttond {
    width: 100%;
    /* margin-top: 8px; */
    background-color: rgb(205, 11, 11); 
    color: white;
    padding: 4px;
    cursor: pointer;
    float: left;
    text-align: center;
    text-decoration: none;
    border-radius: 85px;
  }
  
  .buttond:hover:not(.active) {
    background-color: rgb(104, 1, 1);
    color: rgb(255, 255, 255);
  }