*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
  }
  /* navbar */
  .topnav {
  background-color: #333;
  overflow: hidden;
  background-image: url('mong.jpg');
  background-repeat: no-repeat;
  margin: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  
  }
  .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  
  /* .topnav a:hover {
  background-color: #ddd;
  color: black;
  } */
  
  .topnav a.aktif {
  background-color: #ff0000;
  color: white;
  }

  .topnav a.aktif:hover{
    background-color: #823030;
  }
  
  .topnav-right {
  float: right;
  }

  /* menu kanan */
  
  .menu {
    right: 0;
    width: 262px;   /* 328*/
    position: fixed;
    top: 53px;
    float: right;
    background-color: #32373d;
    padding-bottom: 100%;
    /* overflow-y: scroll; */
    /* white-space: nowrap; */
    }
  
.menu h2{
  padding: 9px 9px;
  color: #ddd;
  font-size: 25px;
}

.dropdown{
  width: 100%;
  margin-top: -8px;
  margin-bottom: 0;
  display: grid;
  position: relative;
  border: none;
  height: 100%;
  /* overflow: auto; */
  overflow-y: scroll;
  height: 200px;
}

.dropbtn{
  padding: 9px 6px;
  border: none;
  background-color: #32373d;
  color: #ddd;
}

.dropbtn:hover:not(.active) {
  background-color: rgb(24, 157, 210);
}

/* blm ada guna */
.dropdown-content{
  background-color: rgb(0, 0, 0);
  color: rgb(172, 110, 110);
}

.dropdown-content:hover {background-color: rgb(255, 0, 0);}

.dropdown-content a {
  color: rgb(78, 217, 152);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  /* smpe sini */ 

.updet{
  border: none;
  background-color: rgb(0, 176, 162);
  padding: 9px 6px;
  color: #fff;
}

.updet:hover:not(.active) {
  background-color: rgb(31, 141, 131);
  color: #333;
}

.menu h3{
  background-color: #32373d;
  color: #ddd;
  padding: 9px 9px;
  font-size: 25px;
}

.menu ul{
  list-style-type: none; 
  margin-left: -29px;
}

.menu li{
  width: 100%;
  margin-left:-2px;    
}

p{
  margin-top: 0;
  margin-bottom: 0;
  color: #ddd;
  margin-left: 8px;
}

.link{
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 0.2rem;
  padding:0 3.5rem 0 0.5rem;
  margin-bottom: 0;
  display: grid;
  position: relative;
}

.submit{
  width: 100%;
  margin-top: 9px;
  border: none;
  padding: 6px 6px;
  background-color: rgb(0, 176, 162);
  color: #fff;
}

.submit:hover:not(.active) {
  background-color: rgb(31, 141, 131);
  color: #333;
}

.button {
  width: 100%;
  margin-top: 8px;
  background-color: rgb(0, 176, 162); 
  color: white;
  /* padding: 10px; */
  cursor: pointer;
  float: left;
  text-align: center;
  text-decoration: none;
}

.button:hover:not(.active) {
  background-color: rgb(31, 141, 131);
  color: #333;
}

/* 2x2 cctv */

.kamera{
    padding-top: 53px;
    margin-bottom: 50px;
}


/* footer */
.footer {
position: relative;
width: 100%;
background-color: #333;
color: #fff;
min-height: 50px;
padding: 20px 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

div.content {
    margin-left: 262px;
    padding: 1px 16px;
    height: 1000px;
  }

  /* untuk mobile */
@media screen and (max-width: 700px) {
    .menu {
      width: 90px;
      height: auto;
      position: fixed;
      overflow: auto;
      white-space: nowrap;
    }
    .menu a {float: left;}
    div.content {margin-left: 0;}
  }
  
